@import "variables";

$primary: $dark-mode-blue;
$light: $dark-mode-white;
$white: $dark-mode-white;
$danger: $custom-danger;
$success: $custom-success;
@import "node_modules/bootstrap/scss/bootstrap";

html {
    background: $dark-mode-0;
    overflow: hidden;
}

body {
    height: 100dvh;
    width: 100dvw;

    background-image: url("@/assets/background.svg#svgView(preserveAspectRatio(none))");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border: 0;
    padding: 0;
    margin: 0;
}

* {
    color: $dark-mode-white;
    font-family: "Verdana", serif;
}