$dark-mode-0: #222831;
$dark-mode-1: #393E46;
$dark-mode-blue: #00ADB5;
$dark-mode-white: #EEEEEE;

html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: $dark-mode-0;
}

* {
    color: $dark-mode-white;
    font-family: "Segoe UI", serif;
}